.container {
  color: var(--color-text);
  margin-top: 4em; /* relative unit */
  background: linear-gradient(
    180deg,
    rgba(56, 56, 56, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 2em;
  gap: 1em; /* reduced gap */
  align-items: center;
}

.text {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.text p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1em;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1em; /* reduced font size */
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%; /* full width */
}

/* Breakpoint for tablets and larger screens */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 2em;
    padding: 3em;
  }

  .text {
    font-size: 3em;
  }

  .links {
    gap: 2em;
  }

  .link {
    gap: 2em;
  }

  .link a {
    font-size: 1.5em;
  }
}

/* Breakpoint for mobile phones */
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }

  .text {
    font-size: 1.5em;
  }

  .text p {
    font-size: 1em;
  }

  .links {
    gap: 1em;
  }

  .link {
    gap: 1em;
    flex-direction: row;
  }

  .link a {
    font-size: 1em;
  }
}
