@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuBtn {
  display: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuItems a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
}

.langSwitcher {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
  font-family: var(--main-font);
}

.langSwitcher button {
  font-size: 20px;
  color: var(--color-text);
  background: none;
  border: none;
  cursor: pointer;
}

.langSwitcher button.active {
  font-weight: 600;
  text-shadow: 0 0 10px 0 #ffff;
  transition: 0.2s;
}

.langSwitcher button:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .langSwitcher {
    margin-top: 0.5em;
  }

  .menu {
    position: absolute;
    right: 0px;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgba(12, 12, 12);
    background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.4) 0%,
      rgba(12, 12, 12, 0.6) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
