:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: lightgrey;
  --color-secondary: black;
  --color-dark: darkgray;
  --color-bg: #383838;
  --color-btnhover: #393636;
  --color-btn: #212121;

  /* Fonts */
  --font-main: "Outfit";
}
